@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #33658a;
}

/* HEADER SECTION */
header span {
    color: #29ecfa;
}

.navigation-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 30px 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #33658a;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.navigation a {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

.navigation a:hover {
    color: #86bbd8;
}

.title-header {
    display: flex;
    margin-top: 100px;
    margin-bottom: 10px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-header h1 {
    padding: 20px 0 30px;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}

.title-header h4 {
    font-size: 18px;
    font-weight: 500;
    color: #ddd;
}


/* MAIN SECTION */

/* main content */
.main-content {
    display: flex;
    padding: 30px 10%;
    gap: 50px;
    justify-content: space-between;
}

.review-section {
    position: relative;
    max-width: 600px;
}

.review-section img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
}

.btn-slide {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: none;
}

.btn-slide button.prev,
.btn-slide button.next {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ddd;
    margin: 5px 10px 0;
    padding: 3px 5px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
    transition: 0.3s ease;
}

.btn-slide button:hover,
.btn-slide button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.review-section h5 {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #ddd;
    text-align: center;
}

.contact-section {
    position: relative;
    max-width: 400px;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.contact-section h5 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}

.contact-section h4 {
    font-size: 12px;
    font-weight: 500;
    color: #727070;
}

form {
    margin-top: 30px;
    width: 100%;
}

.input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 8px;
    padding: 0 15px;
    outline: none;
    font-size: 16px;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgb(0, 0, 0, 0.1);
}

.select-box {
    width: 100%;
    margin-top: 20px;
}

.select-box label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.select-box select {
    height: 50px;
    width: 100%;
    margin-top: 8px;
    padding: 0 15px;
    outline: none;
    font-size: 16px;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.form-btn {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #555;
    color: #fff;
    transition: all 0.3s ease;
}

.form-btn:hover {
    background-color: #333;
}

/* packages section */
.package-title {
    display: flex;
    margin: 30px 0;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.package-title h2 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.package-title h2 span {
    text-decoration: underline;
    color: #ffb32b;
}

.package {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 30px 10%;
}

.package-item {
    width: 450px;
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #ddd;
}

.package-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.package-item h2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.desc {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #727070;
}

.price {
    margin-top: 20px;
    color: #33658a;
    font-size: 16px;
    font-weight: 600;
}

.pack-btn {
    height: 50px;
    width: 65%;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #555;
    color: #fff;
    transition: all 0.3s ease;
}

.pack-btn:hover {
    background-color: #333;
}

/* closing section */
.closing-title {
    display: flex;
    margin: 30px 0;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.closing-title h2 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.closing-title h2 span {
    text-decoration: underline;
    color: #ffb32b;
}

.closing-argument {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closing-argument p {
    font-size: 18px;
    font-weight: 500;
    color: #ddd;
    letter-spacing: 0.8px;
}

#btn-call {
    margin-top: 50px;
    height: 50px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    transition: all 0.3s ease;
}

#btn-call:hover {
    background-color: #222;
    color: #ffb32b;
    border: 1px solid #ffb32b;
}

span.start {
    color: #29ecfa;
    font-weight: bold;
}

span.end {
    color: #fff;
    font-weight: bold;
}

/* FOOTER */
footer {
    background-color: #2d5777;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid #fff;
}

footer p.up {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

footer .column {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer span {
    color: #29ecfa;
}

/* RESPONSIVE LAYOUT */
@media screen and (max-width:1200px) {
    .package-item {
        flex-basis: 45%;
    }

    .package-item h2 {
        margin-top: 10px;
        font-size: 18px;
    }

    .desc {
        font-size: 11px;
    }

    .price {
        font-size: 14px;
    }

    .pack-btn {
        height: 40px;
        font-size: 15px;
        letter-spacing: normal;
        width: 60%;
    }


}

@media screen and (max-width:768px) {
    .logo {
        font-size: 22px;
    }

    .navigation a {
        font-size: 15px;
    }

    .title-header h1 {
        font-size: 30px;
    }

    .title-header h4 {
        font-size: 17px;
    }

    .review-section h5 {
        font-size: 15px;
    }

    .contact-section h5 {
        font-size: 18px;
    }

    .contact-section h4 {
        font-size: 11px;
    }

    form {
        margin-top: 10px;
    }

    .input-box {
        margin-top: 10px;
    }

    .input-box label {
        margin-top: 10px;
        font-size: 14px;
    }

    .input-box input {
        height: 40px;
        font-size: 13px;
    }

    .select-box {
        margin-top: 10px;
    }
    
    .select-box label {
        font-size: 14px;
    }
    .select-box select {
        height: 40px;
        font-size: 13px;
    }

    .form-btn {
        margin-top: 15px;
        font-size: 14px;
    }

    .package-title h2 {
        font-size: 25px;
    }

    .package-item {
        flex-basis: 45%;
    }

    .pack-btn {
        height: 40px;
        font-size: 13px;
        letter-spacing: normal;
        width: 50%;
    }

    .closing-title h2 {
        font-size: 25px;
    }

    .closing-argument p {
        font-size: 16px;
        letter-spacing: 0.4px;
    }

    #btn-call {
        height: 40px;
        width: 180px;
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }
}

@media screen and (max-width:630px) {
    .main-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .navigation-header {
        justify-content: center;
    }

    .navigation-header a {
        font-size: 14px;
    }

    .title-header h1 {
        font-size: 20px;
    }

    .title-header h4 {
        font-size: 15px;
    }

    .review-section {
        width: 90%;
    }

    .review-section h5 {
        font-size: 13px;
    }

    .contact-section {
        width: 80%;
    }

    .package-title h2 {
        font-size: 20px;
    }

    .package {
        justify-content: center;
        align-items: center;
    }

    .package-item {
        flex-basis: 80%;
    }

    .closing-title h2 {
        font-size: 20px;
    }

    .closing-argument p {
        font-size: 14px;
        letter-spacing: 0.1px;
    }

    #btn-call {
        height: 38px;
        width: 160px;
        font-size: 13px;
    }

    footer {
        font-size: 13px;
    }
}